@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

:root {
    --colour-black: black;
    --colour-white: white;
    
    /* dynamic colours */
    --colour-body: white;
    --colour-text: black;
    
    --colour-lavender:#DED9ED;
    --colour-darkpurple: #110B20;
    --colour-darkfont: #281A36;
    --colour-grad-purple: #D55BFF;
    --colour-grad-blue: #45C0EE;
    
    --main-grad: linear-gradient(45deg, var(--colour-grad-blue), var(--colour-grad-purple));
    
    --font: "Nunito Sans", "Helvetica", sans-serif;
    
    --bold: 700;
    --regular: 400;
    --light: 300;

    --linespace: 1.5;
    --tight-padding: 1em;
    --gap: 1em;
    --padding: 2.4em;
    --toppadding: 2em;
    
    --max-width: 70rem;
    
    --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    --shadow-white: 0 0 0.2em rgba(255,255,255,0.8);
    
    --round: 100%;
    --corner-medium: 0.4em;
    --corner-large: 0.5em;
    
    /* z-index */
    --z-dock: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    font: var(--regular) 1em/var(--linespace) var(--font);
    height: 100%;
    color: var(--colour-text);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--colour-text);
}

p {
    font: var(--regular) 1.2em/var(--linespace) var(--font);
}

p span {
    font: var(--bold) 1em/var(--linespace) var(--font);
}

h1 {
    font: var(--bold) 2.4em/1.3 var(--font);
}

h2, input {
    font: var(--light) 1em/1.3 var(--font);
    --colour-text: var(--colour-darkfont);
}
h3 {
    font: var(--light) 1.26em/var(--linespace) var(--font);
}
h4 {
    font: var(--regular) 0.8em/var(--linespace) var(--font);
}
h4.active, h4.secondary, h3.secondary {
    font-weight: var(--bold);
}

h5 {
    font: var(--light) 0.8em/var(--linespace) var(--font);
    line-height: 0.8;
}

h6 {
    font: var(--light) 0.625em/var(--linespace) var(--font);
}

body {
    /* background-color: var(--colour-blue); */
}

main {
    color: var(--colour-text);
}

/* ________________BTNS__________________ */

button.button, button {
    
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}
button.icon, .icon {
    width: 2em;
    height: 2em;
    display: grid;
    align-items: center;
    justify-items: center;
}

button.icon.special {
    width: 3em;
    height: 3em;
    padding: calc(var(--tight-padding) / 2);
    background: var(--main-grad);
    border-radius: var(--corner-large);
}
button.icon.special img {
    filter: invert(1);
}

/* ________________INPUTS__________________ */

input.search-bar {
    background: transparent;
    border: none;
    padding: 0;
    margin:0;
    outline: none;
    width: 100%;
    color:var(--colour-text);
}
input.search-bar::placeholder {
    color:var(--colour-text);
}


/* ________________DOCK__________________ */

nav.dock {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, white 70%);
    grid-template-columns: 30% 70%;
    display: grid;
    padding: 0 calc(var(--padding) / 3) calc(var(--padding) / 3) calc(var(--padding) / 4);
    z-index: var(--z-dock);
}

nav.dock .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--tight-padding);
    align-items: center;
    max-width: 6.4em;
}

.active-marker {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    background-color: black;
    border-radius: var(--round);
    bottom: -0.6em;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

nav.dock .main-nav button.icon.active{
    position: relative;
}

nav.dock .main-nav button.icon.active .active-marker {
    display: block;
}

nav.dock .main-nav :first-child {
    justify-self: left;
}
nav.dock .main-nav :last-child {
    justify-self: right;
}
nav.dock .main-nav img {
    filter: drop-shadow(var(--shadow-white));
}

nav.dock .mini-player {
    background-color: var(--colour-darkpurple);
    padding: calc(var(--tight-padding) / 1.5);
    border-radius: var(--corner-large);
    display: grid;
    grid-template-columns: min-content max-content auto;
    align-items: center;
    justify-items: center;
    grid-gap: calc( var(--gap) / 2);
    --colour-text: white;
    position: relative;
    overflow: hidden;
}
nav.dock .mini-player .icon {
    filter: invert(1);
}
nav.dock .mini-player .song-snapshot {
    width: 2em;
    height: 100%;
    background-image: url('../img/art/sigrid1.jpg');
    background-size: 6em;
    background-position: center;
    border-radius: var(--corner-medium);
}

nav.dock .mini-player .song-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    max-width: 8em;
    justify-self: right;
}

nav.dock .mini-player .duration-bar {
    position: absolute;
    height: 0.3em;
    bottom: 0;
    background: var(--main-grad);
    z-index: 1;
    width: 37%;
    justify-self: left;
}

/* ________________TOPBAR__________________ */

section.topbar {
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 2em;
    align-items: center;
}
section.topbar .menu-btn button.icon, section.topbar .search button.icon {
    width: 1.6em;
    height: 1.6em;
}
section.topbar .search {
    display: grid;
    grid-template-columns: min-content auto;
    background-color: var(--colour-lavender);
    padding: calc(var(--tight-padding) / 1.3) var(--tight-padding);
    border-radius: var(--corner-large);
    grid-gap: var(--gap);
    align-items: center;
}

/* ________________CONTENT LAYOUT__________________ */

main.content {
    display: grid;
    grid-template-rows: min-content min-content auto;
    height: 100vh;
    grid-gap: var(--gap);
    padding: calc(var(--padding) / 2) var(--padding) 0 var(--padding);
}

/* ________________NAV-HEAD__________________ */

section.nav-head {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: var(--gap);
    align-items: baseline;
    transition: 1s ease;
}

section.nav-head.scrolled h1 {
    display: none;
}

section.nav-head .local-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--gap);
}
section.nav-head .local-nav h4 {
    position: relative;
}
section.nav-head .local-nav .active-marker {
    width: 0.6em;
    height: 0.16em;
    border-radius: 5em;
    bottom: -0.3em;
}
section.nav-head .local-nav h4.active .active-marker {
    display: block;
}

/* ________________INNER__________________ */

section.content-inner {
    overflow: auto;
}

section.quick-action {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: var(--gap);
    padding: calc(var(--tight-padding) / 2);
    background-color: var(--colour-lavender);
    border-radius: var(--corner-large);
    align-items: center;
    margin-bottom: var(--tight-padding);
}

section.content-entries {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--padding) / -2);
    padding-bottom: 6em;
}

section.content-entries .media-entry-large {
    width: 50%;
    padding-left: calc(var(--padding) / 2);
    padding-bottom: calc(var(--tight-padding) / 1);
    max-width: 16em;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
}
section.content-entries .media-entry-large img {
    width: 100%;
    border-radius: var(--corner-large);
    margin-bottom: calc(var(--tight-padding) / 2);
    grid-column: span 2;
}

/* ________________PLAYING ANIM__________________ */

@keyframes playing {

	0%
	{
		background-position: 0 0;
	}

	100%
	{
		background-position: -60px 0;
	}

}

.now-playing
{
    display: inline-block;
    vertical-align: middle;
	height: 20px;
	width: 18px;
	overflow: hidden;
	background: url(http://svgur.com/i/5R7.svg);
	background-size: 30px 20px;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: playing 3.6s linear infinite;
}

@media screen and (min-width: 70em) {

}

