@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

:root {
    --colour-black: black;
    --colour-white: #EBE0E0;
    --colour-dark: #1C1B20;
    
    --colour-lavender:#DED9ED;
    --colour-light-lavender: #9B9296;
    --colour-darkpurple: #151318;
    --colour-darkfont: #1C1B20;
    --colour-grad-purple: #D55BFF;
    --colour-grad-blue: #45C0EE;
    --colour-lightpurple: #2B1C39;
    --colour-magenta: #502F59;
    --colour-black-grey: #48474B;
    --colour-white-grey: #9B9296;
    
    /* dynamic colours */
    --colour-body: var(--colour-dark);
    --colour-accent: var(--colour-black-grey);
    --colour-text: var(--colour-lavender);
    
    --main-grad: linear-gradient(45deg, var(--colour-grad-blue), var(--colour-grad-purple));
    
    --font: "Nunito Sans", "Helvetica", sans-serif;
    
    --bold: 700;
    --regular: 400;
    --light: 300;

    --linespace: 1.5;
    --tight-padding: 1em;
    --gap: 1em;
    --padding: 2.4em;
    --toppadding: 2em;
    
    --quickshot-size: 3.8em;
    
    --max-width: 70rem;
    
    --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    --shadow-white: 0 0 0.2em rgba(255,255,255,0.8);
    
    --round: 100%;
    --corner-small: 0.2em;
    --corner-medium: 0.4em;
    --corner-large: 0.5em;
    --corner-xl: 1em;
    
    /* z-index */
    --z-context: 1000;
    --z-onmenu: 201;
    --z-player: 200;
    --z-menu: 150;
    --z-dock: 100;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    font: var(--regular) 1em/var(--linespace) var(--font);
    height: 100%;
    color: var(--colour-text);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--colour-text);
}

p {
    font: var(--regular) 1.2em/var(--linespace) var(--font);
}

p span {
    font: var(--bold) 1em/var(--linespace) var(--font);
}

h1 {
    font: var(--bold) 2.4em/1.3 var(--font);
}

h2, input {
    font: var(--light) 1em/1.3 var(--font);
}
h3 {
    font: var(--light) 1.26em/var(--linespace) var(--font);
}
h4 {
    font: var(--regular) 0.8em/var(--linespace) var(--font);
}
h4.active, h4.secondary, h3.secondary {
    font-weight: var(--bold);
}

h5 {
    font: var(--light) 0.8em/var(--linespace) var(--font);
    line-height: 0.8;
}

h6 {
    font: var(--light) 0.625em/var(--linespace) var(--font);
}

body {
    background-color: var(--colour-body);
    overflow: hidden;
}

main {
    color: var(--colour-text);
}

/* ________________BTNS__________________ */

button.button, button {
    
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}
button.icon, .icon {
    width: 2em;
    height: 2em;
    display: grid;
    align-items: center;
    justify-items: center;
}
button.icon img, .icon img {
    pointer-events: none;
}

button.icon.special {
    width: 3em;
    height: 3em;
    padding: calc(var(--tight-padding) / 2);
    background: var(--main-grad);
    border-radius: var(--corner-large);
    filter: invert(0) !important;
}
button.icon.special img {
    filter: invert(1);
}

button.quickshot {
    display: grid;
    grid-template-rows: auto min-content;
    width: var(--quickshot-size);
}

button.quickshot .shot {
    width: var(--quickshot-size);
    height: var(--quickshot-size);
    background-color: var(--colour-accent);
    border-radius: var(--corner-xl);
    padding: calc(var(--tight-padding) / 3);
    transition: transform 0.1s ease;
    display: grid;
    align-items: center;
    text-align: center;
}
button.quickshot:hover .shot {
    transition: transform 0.3s ease;
    transform: scale(0.8);
}
button.quickshot:first-child .shot {
    padding: calc(var(--tight-padding) / 1.6);
}
button.quickshot .shot h1.thumb {
    color: var(--colour-light-lavender);
    line-height: 0;
    font-size: 2em;
}
button.quickshot h4 {
    padding-top: calc(var(--padding) / 6);
}
button.quickshot .label {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.quickshot-row {
    overflow: hidden;
    margin-right: calc(var(--gap) * -1);
}
.quickshot-entries {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    padding-bottom: calc(var(--gap) / 2);
}
.quickshot-entries .quickshot {
    margin-right: calc(var(--padding) / 1.8);
}

/* ________________INPUTS__________________ */

input.search-bar {
    background: transparent;
    border: none;
    padding: 0;
    margin:0;
    outline: none;
    width: 100%;
    color:var(--colour-text);
}
input.search-bar::placeholder {
    color:var(--colour-text);
}


/* ________________DOCK__________________ */

nav.dock {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0), var(--colour-body) 70%);
    grid-template-columns: 30% 70%;
    display: grid;
    padding: 0 calc(var(--padding) / 3) calc(var(--padding) / 3) calc(var(--padding) / 4);
    z-index: var(--z-dock);
}

nav.dock .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--tight-padding);
    align-items: center;
    max-width: 6.2em;
}

.active-marker {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    background-color: black;
    border-radius: var(--round);
    bottom: -0.6em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s ease;
}

nav.dock .main-nav button.icon {
    position: relative;
}

nav.dock .main-nav button.icon.active .active-marker {
    opacity: 1;
}

nav.dock .main-nav :first-child {
    justify-self: left;
}
nav.dock .main-nav :last-child {
    justify-self: right;
}
nav.dock .main-nav img {
    filter: drop-shadow(var(--shadow-white));
}

/* ________________DOCK -> MINI PLAYER__________________ */

nav.dock .mini-player {
    background-color: var(--colour-darkpurple);
    padding: calc(var(--tight-padding) / 1.2);
    border-radius: var(--corner-large);
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    gap: calc( var(--gap) / 2);
    --colour-text: var(--colour-white);
    position: relative;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
nav.dock .mini-player.active {
    transform: scaleY(15) scalex(1.5);
    transform-origin: 100% 100%;
    border-radius: 0;
    margin-right: -1.5em;
    margin-bottom: -1.5em;
}
nav.dock .mini-player * {
    transform: translateX(0);
    transition: transform 0.7s cubic-bezier(1, 0, 0, 1), opacity 0.7s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
}
nav.dock .mini-player.active * {
    transition: transform 0.4s ease, opacity 0.4s linear;
    transform: translateX(50vw);
    opacity: 0;
}
nav.dock .mini-player .icon {
    filter: invert(1);
    pointer-events: all;
}
nav.dock .mini-player > * {
    pointer-events: none;
}

nav.dock .mini-player .mini-info {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: inherit;
    align-items: center;
    height: 100%;
}
nav.dock .mini-player .mini-info .song-info {
    padding-top: 0.3em;
}

nav.dock .mini-player .song-snapshot {
    width: 2em;
    height: 100%;
    background-size: 4em;
    background-position: center;
    border-radius: var(--corner-medium);
}

nav.dock .mini-player .song-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    max-width: 8em;
    justify-self: right;
}
nav.dock .mini-player .song-controls .icon img {
    filter: unset;
}

nav.dock .mini-player .duration-bar {
    position: absolute;
    height: 0.3em;
    bottom: 0;
    background: var(--main-grad);
    z-index: 1;
    width: 0%;
    justify-self: left;
    transform: unset;
}

/* ________________FULL PLAYER__________________ */

section.full-player {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: var(--colour-darkpurple);
    /* background-color: transparent; */
    /* ^ should be transparent, but bug on android chrome */
    z-index: var(--z-player);
    display: grid;
    grid-template-rows: auto min-content;
    gap: calc(var(--gap) * 2);
    padding: var(--padding);
    --colour-text: var(--colour-white);
    top: 0;
    transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
    transform: scale(0);
}
section.full-player.active {
    transition: 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
    transform: scale(1);
}

section.full-player .inner {
    display: grid;
    grid-template-rows: min-content min-content auto;
    gap: calc(var(--gap) * 2);
}

section.full-player h1 {
    font: var(--bold) 1.2em/1.3 var(--font);
}
section.full-player h2 {
    font: var(--light) 1.2em/1.3 var(--font);
    --colour-text: var(--colour-white);
    text-decoration: underline;
}
section.full-player h3 {
    font: var(--bold) 1em/1.3 var(--font);
}
section.full-player h5 {
    font: var(--light) 0.68em/1.3 var(--font);
}

section.full-player .topbar {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: var(--gap);
}
section.full-player .topbar .song-info {
    overflow: hidden;
    white-space: nowrap;
}
section.full-player .topbar .song-info > * {
    display: inline-block;
}
section.full-player .topbar .song-info h2 {
    margin-right: var(--tight-padding);
}
section.full-player .topbar button.icon {
    width: 2em;
    height: unset;
}

section.full-player .song-art {
    display: grid;
    position: relative;
    margin-bottom: var(--tight-padding);
}

section.full-player .song-art img.artwork {
    width: 100%;
    border-radius: var(--corner-xl);
}
section.full-player .song-art button.variate-btn {
    justify-self: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 4em;
    height: 4em;
    padding: calc(var(--tight-padding) / 1.2);
    border-radius: calc(var(--corner-large) * 1.4);
}

section.full-player .variate-info > * {
    display: inline-block;
}
section.full-player .variation {
    display: grid;
    grid-template-rows: min-content auto;
    grid-gap: var(--gap);
}
section.full-player .variate-cells {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gap);
    height: 100%;
}
section.full-player .variate-cell {
    width: 100%;
    height: 100%;
    background-color: var(--colour-lightpurple);
    border: solid 0.3em var(--colour-magenta);
    border-radius: var(--corner-large);
}

section.full-player .player {
    width: 100%;
    align-self: end;
}
section.full-player .player .player-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: right;
    margin-bottom: var(--tight-padding);
}
section.full-player .player .player-controls :first-child {
    justify-self: left;
}
section.full-player .player .player-controls div img {
    filter: invert(1);
}
section.full-player .player .player-controls div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--gap) / 1.4);
}
section.full-player .player .player-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    grid-gap: calc(var(--gap) / 2);
}
section.full-player .player .player-timeline .time-bar {
    width: 100%;
    height: 0.6em;
    border: solid 0.12em var(--colour-white);
    border-radius: var(--corner-small);
    overflow: hidden;
    grid-column: span 2;
}
section.full-player .player .player-timeline .duration-bar {
    background-color: var(--colour-white);
    height: 100%;
    width: 35%;
}
section.full-player .player .player-timeline :last-child {
    justify-self: right;
}

/* ________________CONTEXT MENU__________________ */

div.context {
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: var(--z-context);
    backdrop-filter: blur(1em);
    background-color: rgba(255,255,255,0.6);
    padding: calc(var(--padding) * 1.5);
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    display: grid;
    align-items: center;
    pointer-events: none;
}
div.context.active {
    opacity: 1;
    /* visibility: visible; */
    pointer-events: all;
}
div.context.active .context-menu {
    transform: scale(1);
}

div.context .related-image {
    display: grid;
    grid-template-columns: 3em auto;
    gap: var(--gap);
    align-items: center;
}
div.context .related-image img {
    width: 100%;
    border-radius: var(--corner-large);
    display: block;
}

div.context .context-menu {
    background-color: var(--colour-white);
    border-radius: var(--corner-xl);
    width: 100%;
    height: auto;
    padding: var(--tight-padding);
    max-width: 22em;
    margin: 0 auto;
    display: grid;
    gap: var(--gap);
    transform: scale(0);
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
div.context .context-menu ul {
    list-style: none;
}
div.context .context-menu ul li {
    height: 2.8em;
    border-bottom: 0.5px rgba(0,0,0,0.1) solid;
    padding: 0 var(--tight-padding);
    margin: 0 calc( var(--tight-padding) * -1);
    background-color: transparent;
    transition: background-color 0.2s ease;
}
div.context .context-menu ul li:last-child {
    /* border-bottom: none; */
}
div.context .context-menu ul li:hover, div.context .context-menu ul li:focus {
    background-color: var(--colour-accent);
}
div.context .context-menu ul li div {
    height: 100%;
    display: grid;
    align-items: center;
}

/* ________________TOPBAR__________________ */

section.topbar {
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: calc(var(--gap) * 2);
    align-items: center;
}
section.topbar .menu-btn button.icon, section.topbar .search button.icon {
    width: 1.6em;
    height: 1.6em;
}
section.topbar .menu-btn button {
    transition: 0.8s ease;
}
section.topbar .menu-btn img {
    pointer-events: none;
}
section.topbar .menu-btn button.active {
    transform: rotate(225deg);
    z-index: var(--z-onmenu);
    position: relative;
}
section.topbar .menu-btn button.active img {
    /* filter: invert(1); */
}
section.topbar .search {
    display: grid;
    grid-template-columns: min-content auto;
    background-color: var(--colour-accent);
    padding: calc(var(--tight-padding) / 1.3) var(--tight-padding);
    border-radius: var(--corner-large);
    grid-gap: var(--gap);
    align-items: center;
}

/* ________________MENU__________________ */

section.menu {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5em;
    backdrop-filter: blur(1em);
    position: fixed;
    z-index: var(--z-menu);
    top: 0;
    left: 0;
    /* transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1); */
    opacity: 0;
    padding: var(--padding);
    padding-top: calc(var(--padding) * 2);
    transform: scale(0);
}
section.menu.active {
    transform: scale(1);
    border-radius: 0;
    transition: opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 1;
}

/* ________________CONTENT LAYOUT__________________ */

main.content div.feed {
    --colour-body: var(--colour-dark);
    --colour-text: var(--colour-white);
    --colour-accent: var(--colour-black-grey);
}
main.content div.library {
    --colour-body: var(--colour-white);
    --colour-text: var(--colour-black);
    --colour-accent: var(--colour-white-grey);
}

main.content div.feed .icon img {
    filter: invert(1);
}
main.content div.feed .active-marker {
    background-color: var(--colour-text);
}

main.content div.feed, main.content div.library {
    display: grid;
    grid-template-rows: min-content min-content auto;
    height: 100vh;
    grid-gap: var(--gap);
    padding: calc(var(--padding) / 2) var(--padding) 0 var(--padding);
    background-color: var(--colour-body);
}

/* ________________NAV-HEAD__________________ */

section.nav-head {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: var(--gap);
    align-items: baseline;
    transition: 1s ease;
}

section.nav-head.scrolled h1 {
    display: none;
}

section.nav-head .local-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: var(--gap);
}
section.nav-head .local-nav h4 {
    position: relative;
}
section.nav-head .local-nav .active-marker {
    width: 0.6em;
    height: 0.16em;
    border-radius: 5em;
    bottom: 0.3em;
}
section.nav-head .local-nav h4.active .active-marker {
    opacity: 1;
    bottom: -0.3em;
}

/* ________________INNER__________________ */

section.content-inner {
    overflow: auto;
    touch-action: pan-y;
}

section.quick-action {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: var(--gap);
    padding: calc(var(--tight-padding) / 2);
    background-color: var(--colour-accent);
    border-radius: var(--corner-large);
    align-items: center;
    margin-bottom: var(--tight-padding);
}
section.quick-action h2 {
    text-transform: capitalize;
}

section.content-entries {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--padding) / -2);
    padding-bottom: 6em;
}

section.content-entries .media-entry-large {
    width: 50%;
    padding-left: calc(var(--padding) / 2);
    padding-bottom: calc(var(--tight-padding) / 1);
    max-width: 16em;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: auto auto;
    opacity: 1;
}
section.content-entries .media-entry-large:hover {
    opacity: 0.6;
}
section.content-entries .media-entry-large img {
    width: 100%;
    border-radius: var(--corner-large);
    margin-bottom: calc(var(--tight-padding) / 2);
    grid-column: span 2;
}

/* ________________PLAYING ANIM__________________ */

@keyframes playing {

	0%
	{
		background-position: 0 0;
	}

	100%
	{
		background-position: -60px 0;
	}

}

.now-playing
{
    display: inline-block;
    vertical-align: middle;
	height: 20px;
	width: 18px;
	overflow: hidden;
	background: url(../img/icons/wave.svg);
	background-size: 30px 20px;
	background-position: 0 0;
	background-repeat: repeat-x;
	animation: playing 3.6s linear infinite;
}

@media screen and (min-width: 70em) {

}

